<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blt-ltw</title>
    <meta charset="utf-8" />
    <meta name="author" content="DrayOP" />
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <div id="container">
        <header id="header">
            <h1>NEWS ENTERTAINMENT</h1>
            <div id="menu">
                <ul class="test">
                    <li class="col-1"><a href="#">Home</a> </li>
                    <li class="col-1"><a href="#">STAR</a> </li>
                    <li class="col-1"><a href="#">TV Show</a></li>
                    <li class="col-1"><a href="#">Cine</a></li>
                    <li class="col-1"><a href="#">Doi song</a></li>
                    <li class="col-1"><a href="#">Music</a> </li>
                    <li class="col-1"><a href="#">The gioi</a> </li>
                    <li class="col-1"><a href="#">Sport</a> </li>
                    <div id="btn" class="box" style="padding-left: 200px;">
                        <button type="submit" style="width: 100px ;">Login</button>
                    </div>
                </ul>

            </div>
            <div id="menunews">
            </div>
        </header>
        <br>
        <div id="main">
            <div id="title">
                <img src="../images/quangcao1.png" alt="quang cao" width="100%" height="100%">
            </div>
            <div id="content-1">
                <div id="content-1-left">
                    <div class="content-top-1">
                        <a href="#" class="">
                            <img src="../images/2.2.jpg" alt="" width="480px" height="270px">
                        </a>
                        <a href="#">
                            <h2>Bệnh nhân 148 từng âm tính rồi sau đó lại dương tính với Covid-19</h2>
                        </a>
                    </div>
                    <div class="content-top-1">
                        <a href="#" class="">
                            <img src="../images/2.3.jpg" alt="" width="480px" height="270px">
                        </a>
                        <a href="#">
                            <h2>Bắt buộc đeo khẩu trang khi ra đường, cần phải công bố địa điểm bán khẩu trang để người dân nắm bắt.</h2>
                        </a>
                    </div>
                </div>
                <div id="content-1-right">
                    <div class="top-right">
                        <a href="#">
                            <img src="../images/4.jpg" alt="" width="250" height="160">
                        </a>
                        <h3><a href="#">"Ổ dịch" quán bar Buddha với 155 người tham gia: 8 người dương tính Covid-19, yêu cầu khách đến quán vào ngày 13-17/3 khai báo sức khoẻ</a></h3>
                    </div>
                    <div class="top-right">
                        <a href="#">
                            <img src="../images/5.jpg" alt="" width="250" height="160">
                        </a>
                        <h3><a href="#">Trăn trở của người con sống. . . </a></h3>
                    </div>
                    <div class="top-right">
                        <a href="#">
                            <img src="../images/6.jpg" alt="" width="250" height="160">
                        </a>
                        <h3><a href="#">Thời thế đổi thay, giờ đây "boss" phải đi chợ mua đồ để "sen" ở nhà tránh dịch Covid-19</a></h3>
                    </div>
                    <div class="top-right">
                        <a href="#">
                            <img src="../images/7.png" alt="" width="250" height="160">
                        </a>
                        <h3><a href="#">Paris ngày đầu phong tỏa . . .</a></h3>
                    </div>
                    <div class="top-right">
                        <a href="#">
                            <img src="../images/8.jpg" alt="" width="250" height="160">
                        </a>
                        <h3><a href="#">Kế hoạch xét nghiệm Covid-19 quy mô và nghiêm ngặt nhất thế giới ở Hàn Quốc: Cứ 200 công dân thì có 1 người được kiểm tra!</a></h3>
                    </div>
                    <div class="top-right">
                        <a href="#">
                            <img src="../images/9.jpg" alt="" width="250" height="160">
                        </a>
                        <h3><a href="#">Chuyên gia Mỹ vạch trần</a></h3>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div id="content-2">
                <div id="content-2-left">
                    <div class="ct2">
                        <div style="margin-right: 35px;">
                            <img src="../images/11.png" alt="" witdh="300px" height="200px" />
                        </div>
                        <div>
                            <p>[ Tin vừa lên ]</p><br />
                            <h2>Công nhận kết quả các bài kiểm tra khi học trên internet và truyền hình</h2>
                            <br>
                            <i>Học đường</i>
                        </div>
                    </div>
                    <div class="ct2">
                        <div style="margin-right: 35px;">

                            <img src="../images/12.jpg" alt="" witdh="300px" height="200px">
                        </div>
                        <div>
                            <div>
                                <p>[ Tin vừa lên ]</p><br />
                                <h2>Tổ chức Ngày Quốc tổ Việt Nam toàn cầu 2020 qua online</h2>
                                <br>
                                <i>Xã hội</i>
                            </div>
                        </div>
                    </div>
                    <div class="ct2">
                        <div style="margin-right: 35px;">

                            <img src="../images/13.png" alt="" witdh="300px" height="200px">
                        </div>
                        <div>
                            <div>
                                <h2>Bệnh viện ở New York bật chế độ thảm họa, bác sĩ thành bệnh nhân Covid-19</h2>
                                <br>
                                <p>Thế Giới - 1 giờ trước</p><br />

                                <i>Các bệnh viện ở New York đang chiến đấu với đại dịch Covid-19 trong tình trạng thiếu thốn và đội ngũ bác sĩ, nhân viên ...</i>
                            </div>
                        </div>
                    </div>
                    <div class="ct2">
                        <div style="margin-right: 35px;">

                            <img src="../images/14.png" alt="" witdh="300px" height="200px">
                        </div>
                        <div>
                            <div>

                                <h2>Thám tử showbiz: Thu Quỳnh đã tìm được tình mới, còn ra mắt gia đình và thường xuyên lộ diện bên nhau dịp đặc biệt?</h2>
                                <br>
                                <i>Bạn trai tin đồn của Thu Quỳnh thường xuyên khoe những hình ảnh tình tứ bên cô nàng lên trang cá nhân. Bất cứ một dịp ...</i>
                            </div>
                        </div>
                    </div>
                    <div class="ct2">
                        <div style="margin-right: 35px;">
                            <img src="../images/15.png" alt="" witdh="300px" height="200px">
                        </div>
                        <div>
                            <div>
                                <h2>Ngất lịm với nhan sắc của "bé thụ" Doãn Chính ở Bên Tóc Mai Không Phải Hải Đường Hồng, đến cả chị em cũng phát hờn</h2>
                                <br>
                                <i>Nam chính Trương Tế Nhị (Doãn Chính) của Bên Tóc Mai Không Phải Hải Đường Hồng đã nhanh chóng leo lên No.1 hot search, ...</i>
                            </div>
                        </div>
                    </div>



                </div>
                <div id="content-2-right">
                    <div>
                        <!--                       <img src="../images/1.jpg" width="300" height="500px" alt="">-->
                    </div>

                </div>
            </div>
        </div><!--        main-->
        <div id="footer">
            <div id="menu">
                <ul class="test">
                    <li class="col-1"><a href="#">Home</a> </li>
                    <li class="col-1"><a href="#">STAR</a> </li>
                    <li class="col-1"><a href="#">TV Show</a></li>
                    <li class="col-1"><a href="#">Cine</a></li>
                    <li class="col-1"><a href="#">Doi song</a></li>
                    <li class="col-1"><a href="#">Music</a> </li>
                    <li class="col-1"><a href="#">The gioi</a> </li>
                    <li class="col-1"><a href="#">Sport</a> </li>
                </ul>

            </div>
            <div id="footer-info">
                <footer>
                    <p>Designed by Nhat - Phu - Thang </p>
                </footer>
            </div>
        </div>
    </div>
</body></html>
