<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>blt-ltw</title>
    <meta charset="utf-8"/>
    <meta name="author" content="DrayOP"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <div id="container">
        <div id="header">
            <div id="menu">
                <ul>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div id="menunews"></div>
        </div>
        <div id="main">
            <div id="title"></div>
            <div id="content-1">
                <div id="content-1-left"></div>
                <div id="content-1-right"></div>
            </div>
            <div id="content-2">
                <div id="content-2-left"></div>
                <div id="content-2-right"></div>
            </div>
        </div>
        <div id="footer">
            <div id="footer-menu"></div>
            <div id="footer-info"></div>
        </div>
    </div>
</body>
</html>
